*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.top-header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 40%;
    align-items:center;
    padding: 20px;
}

.logo img {
    max-width: 400px;
}

.form {
    display: flex;
    align-items: top;
    width: 40%;
    height: 24px;
}

.input {
    width: 80%;
}

.submit {
    width: 20px;
}
.cuotas {
    font-size: 20px;
    padding: 10px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
}


header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    font-size: 15px;
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
}


div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{

    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left:87%;
    top: -15px;

}

main section h3{
    margin: 20px 0px;
}

.precio-desc {
    display: flex;
}

.price {
    flex-grow: 0.3;
}

.discount {
    flex-grow: 0.7;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.products {
    display: flex;
    flex-direction: column;
}

.menu-nav {
    display: none;
}

main section article .description{
        display: block;
    }

main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


@media (min-width: 468px){

    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }    

    .products article {
        width: 44%;
    }

}

@media (min-width: 769px){
    
    .logo, .form, .cuotas {
        width: 30%;
    }



    .products article {
        width: 22%;
    }

    .burger-menu {
        display: none;
    }

    .menu-nav {
        display: flex;
        justify-content: space-between;
       }

    .menu-nav ul {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }


}